LIB_CFLAGS ?= -O2
LIB_CFLAGS += -ffreestanding -Wall -Wextra
LIB_CFLAGS += -isystem ./libc/include/

LIBK_CFLAGS := $(LIB_CFLAGS) -D__is_libk -isystem ./kernel/include/

FREEOBJS := \
	elf.o \
    math/ceildiv.o \
    math/ceillog2.o \
    math/itoa.o \
	stdio/printf.o \
	stdio/putchar.o \
	stdlib/abort.o \
	string/memcmp.o \
	string/memcpy.o \
	string/memmove.o \
	string/memset.o \
	string/strlen.o \
	string/strncmp.o \
	string/strncpy.o \
	string/strnlen.o

HOSTEDOBJS :=

LIB_OBJS := \
	$(FREEOBJS) \
	$(HOSTEDOBJS) \

LIBK_OBJS := $(FREEOBJS:.o=.libk.o)

LIB_HEADERS != find libc/include/ -name "*.h"

BINARIES=libk.a
