LIB_CFLAGS ?= -O2 -g
LIB_CFLAGS := $(LIB_CFLAGS) -ffreestanding -Wall -Wextra
LIBK_CFLAGS := $(LIB_CFLAGS) -D__is_libk

FREEOBJS := \
    math/itoa.o \
	stdio/printf.o \
	stdio/putchar.o \
	stdlib/abort.o \
	string/memcmp.o \
	string/memcpy.o \
	string/memmove.o \
	string/memset.o \
	string/strlen.o \

HOSTEDOBJS :=

LIB_OBJS := \
	$(FREEOBJS) \
	$(HOSTEDOBJS) \

LIBK_OBJS := $(FREEOBJS:.o=.libk.o)

LIB_HEADERS != find libc/include/ -name "*.h"

BINARIES=libk.a
