---
BasedOnStyle: google

AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: LeftWithLastLine
DerivePointerAlignment: true
PointerAlignment: Left
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
