K := kernel

KER_CFLAGS ?= -O2 -g
KER_CFLAGS += -Wall -Wextra
KER_CFLAGS += -ffreestanding

KER_LIBS := -nostdlib -lgcc -lk

KER_LDFLAGS := $(KERNEL_ARCH_LDFLAGS)

KER_ARCHDIR := kernel/arch/$(HOSTARCH)

include $(KER_ARCHDIR)/make.config

KERNEL_OBJS := \
	$(KERNEL_ARCH_OBJS) \
	kernel/kernel/kernel.o \
	kernel/kernel/multiboot.o \
    kernel/kernel/tty.o \
    kernel/kernel/font.o

KER_OBJS := \
	$(KER_ARCHDIR)/crti.o \
	$(KERNEL_OBJS) \
    $(KER_ARCHDIR)/crtn.o

KER_LINK_LIST = \
	$(LDFLAGS) \
	$(KER_ARCHDIR)/crti.o \
	$(KERNEL_OBJS) \
	$(KER_LIBS) \
	$(KER_ARCHDIR)/crtn.o \
