K := kernel

KER_CFLAGS ?= -O0 -g
KER_CFLAGS += -Wall -Wextra
KER_CFLAGS += -ffreestanding
KER_CFLAGS += -isystem ./kernel/include/ -isystem ./libc/include/

KER_LIBS := -nostdlib -lgcc -lk

KER_LDFLAGS := $(KERNEL_ARCH_LDFLAGS)

KER_ARCHDIR := kernel/arch/$(HOSTARCH)

include $(KER_ARCHDIR)/make.config

KERNEL_OBJS := \
	$(KERNEL_ARCH_OBJS) \
	kernel/acpi.o \
	kernel/driver/keyboard/keyboard.o \
	kernel/driver/keyboard/ps2_set1.o \
	kernel/kernel.o \
	kernel/multiboot.o \
    kernel/tty.o

KER_OBJS := \
	$(KER_ARCHDIR)/crti.o \
	$(KERNEL_OBJS) \
    $(KER_ARCHDIR)/crtn.o

KERNEL_OBJS := $(addprefix $(BUILD), $(KERNEL_OBJS))

KER_LINK_LIST = \
	$(LDFLAGS) \
	$(BUILD)$(KER_ARCHDIR)/crti.o \
	$(KERNEL_OBJS) \
	$(KER_LIBS) \
	$(BUILD)$(KER_ARCHDIR)/crtn.o

$(BUILD)$(KER_ARCHDIR)/font.o:
	cp ../fonts/solarize-12x29-psf/font_$(HOSTARCH).o $@
