KERNEL_ARCH_OBJS = \
    $(KER_ARCHDIR)/boot.o \
    $(KER_ARCHDIR)/font.o \
    $(KER_ARCHDIR)/gdt/flush_gdt.o \
    $(KER_ARCHDIR)/gdt/gdt.o \
    $(KER_ARCHDIR)/interrupt/apic.o \
    $(KER_ARCHDIR)/interrupt/interrupt.o \
    $(KER_ARCHDIR)/interrupt/interrupt_handler.o \
    $(KER_ARCHDIR)/interrupt/ioapic.o \
    $(KER_ARCHDIR)/interrupt/isr_wrapper.o \
    $(KER_ARCHDIR)/pre_main.o
